@model SlideUpdateDto
<main>
    <div class="container">

        <div class="row">
            <div class="col">
                <!-- Title Start -->
                <section class="scroll-section" id="title">
                    <div class="page-title-container">
                        <h1 class="mb-0 pb-0 display-4">Tables</h1>
                        <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                            <ul class="breadcrumb pt-0">
                                <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Admin</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Slide" asp-action="Index">Table</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Slide" asp-action="Update">Update</a></li>
                            </ul>
                        </nav>
                    </div>
                </section>

                <div class="container justify-content-center">
                    <form method="post" enctype="multipart/form-data">
                        <div class="mb-2">
                            <label asp-for="Title" class="form-label">Slide Title</label>
                            <input asp-for="Title" class="form-control" placeholder="">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SubTitle" class="form-label">Slide SubTitle</label>
                            <input asp-for="SubTitle" class="form-control" />
                            <span asp-validation-for="SubTitle" style="color:red"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Slide Description</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" style="color:red"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ImageFile" class="form-label">Image File</label>
                            <input asp-for="ImageFile" class="form-control" />
                            <span asp-validation-for="ImageFile" style="color:red"></span>
                        </div>
                        <div asp-validation-summary=ModelOnly>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>