@{
    Layout = "";
    ViewData["Title"] = "Email Təsdiqləndi";
}
<head>
    <title>ConfirmEmail</title>
</head>
<body>
    <h2>Email Təsdiqləndi</h2>
    <p>Emailiniz uğurla təsdiqləndi. Artıq hesabınıza daxil ola bilərsiniz >> <a asp-action="Login" asp-controller="Account">Sign in here</a> <<</p>
</body>
