@{
    Layout = "";
    @model ForgotPasswordDto

}
<!DOCTYPE html>
<html lang="en" data-footer="true" data-scrollspy="true">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Acorn Admin Template | Form Layouts</title>
    <meta name="description" content="Examples and usage guidelines for form control styles and layout options." />
    <!-- Favicon Tags Start -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/manage/img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/manage/img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/manage/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/manage/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/manage/img/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/manage/img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/manage/img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/manage/img/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="~/manage/img/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="~/manage/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="~/manage/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/manage/img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="~/manage/img/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="~/manage/img/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="~/manage/img/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="~/manage/img/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="~/manage/img/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="~/manage/img/favicon/mstile-310x310.png" />
    <!-- Favicon Tags End -->
    <!-- Font Tags Start -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="font/CS-Interface/style.css" />
    <!-- Font Tags End -->
    <!-- Vendor Styles Start -->
    <link rel="stylesheet" href="~/manage/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/manage/css/vendor/OverlayScrollbars.min.css" />

    <link rel="stylesheet" href="~/manage/css/vendor/select2.min.css" />

    <link rel="stylesheet" href="~/manage/css/vendor/select2-bootstrap4.min.css" />

    <link rel="stylesheet" href="~/manage/css/vendor/bootstrap-datepicker3.standalone.min.css" />

    <link rel="stylesheet" href="~/manage/css/vendor/tagify.css" />

    <!-- Vendor Styles End -->
    <!-- Template Base Styles Start -->
    <link rel="stylesheet" href="~/manage/css/styles.css" />
    <!-- Template Base Styles End -->

    <link rel="stylesheet" href="~/manage/css/main.css" />
    <script src="~/manage/js/base/loader.js"></script>
</head>

<body>
    <div id="root">
        <main style="padding: 32px 40px !important;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!-- Title Start -->
                        <section class="scroll-section" id="title">
                            <div class="page-title-container">
                                <h1 class="mb-0 pb-0 display-4">Layouts</h1>
                                <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                                    <ul class="breadcrumb pt-0">
                                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                                        <li class="breadcrumb-item"><a asp-action="Login" asp-controller="Account">Account</a></li>
                                        <li class="breadcrumb-item"><a>Forgot Password</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </section>
                        <!-- Title End -->

                        <div>
                            <div class="card mb-5">
                                <div class="card-body">
                                    <p class="mb-0">Passwordu dəyişmədən çıxmaq üçün buraya tıklayın >> <a asp-action="index" asp-controller="Home">Return to home page</a> <<</p>
                                </div>
                            </div>
                            <section class="scroll-section" id="formRow">
                                <h2 class="small-title">Forgot Password Form</h2>
                                <div class="card mb-5">
                                    <div class="card-body">
                                        <form method="post" class="row g-3">

                                            <div class="col-md-6">
                                                <label asp-for="Email" class="form-label">Email Address</label>
                                                <input asp-for="Email" class="form-control" id="inputEmail4" placeholder="email@gmail.com">
                                                <span asp-validation-for="Email" style="color:red"></span>
                                            </div>
                                                                                        
                                            <div asp-validation-summary="ModelOnly"></div>
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary">Send Email</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card mb-5">
                                    <div class="card-body">
                                        <p class="mb-0">Login səhifəsinə dönmək isteyirsinizse >> <a asp-action="login" asp-controller="Account">Return to Login Page</a> << </p>
                                    </div>
                                </div>
                            </section>

                        </div>
                        <!-- Content End -->
                    </div>
                </div>
            </div>
        </main>
        <!-- Layout Footer Start -->
        <footer>
            <div class="footer-content text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>Odyssey Restaurant | 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Layout Footer End -->
    </div>
    
    <!-- Vendor Scripts Start -->
    <script src="~/manage/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/manage/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/manage/js/vendor/OverlayScrollbars.min.js"></script>
    <script src="~/manage/js/vendor/autoComplete.min.js"></script>
    <script src="~/manage/js/vendor/clamp.min.js"></script>

    <script src="~/manage/icon/acorn-icons.js"></script>
    <script src="~/manage/icon/acorn-icons-interface.js"></script>

    <script src="~/manage/js/cs/scrollspy.js"></script>

    <script src="~/manage/js/vendor/select2.full.min.js"></script>

    <script src="~/manage/js/vendor/datepicker/bootstrap-datepicker.min.js"></script>

    <script src="~/manage/js/vendor/tagify.min.js"></script>

    <!-- Vendor Scripts End -->
    <!-- Template Base Scripts Start -->
    <script src="~/manage/js/base/helpers.js"></script>
    <script src="~/manage/js/base/globals.js"></script>
    <script src="~/manage/js/base/nav.js"></script>
    <script src="~/manage/js/base/search.js"></script>
    <script src="~/manage/js/base/settings.js"></script>
    <!-- Template Base Scripts End -->
    <!-- Page Specific Scripts Start -->

    <script src="~/manage/js/forms/layouts.js"></script>

    <script src="~/manage/js/common.js"></script>
    <script src="~/manage/js/scripts.js"></script>
    <!-- Page Specific Scripts End -->
</body>
</html>
