@{
    Layout = "";
    ViewData["Title"] = "Parolunuzu Yeniləyin";
}
<head>
    <title>ForgotPasswordConfirmation</title>
</head>
<body>
    <h2>Parolunuzu Yeniləyin</h2>
    <p>Emaillə göndərilən linkə daxil olun və parolunuzu yeniləyin >> <a href="https://mail.google.com/">Go to mail</a> <<</p>
</body>