@{
    Layout = "";
    ViewData["Title"] = "Parol Yeniləndi";
}
<head>
    <title>ResetPasswordConfirmation</title>
</head>
<body>
    <h2>Parol Yeniləndi</h2>
    <p>Parolunuz uğurla yeniləndi. Artıq hesabınıza daxil ola bilərsiniz >> <a asp-action="Login" asp-controller="Account">Sign in here</a> <<</p>
</body>