@using RMS.Business.DTOs.EmployeeDTOs
@{
    
    @model RegisterEmployeeDto
    var roles = ViewData["Roles"] as List<string>;
}
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Title Start -->
                <section class="scroll-section" id="title">
                    <div class="page-title-container">
                        <h1 class="mb-0 pb-0 display-4">Employee Register</h1>
                        <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                            <ul class="breadcrumb pt-0">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                                <li class="breadcrumb-item"><a asp-action="RegisterEmployee" asp-controller="Employee">Account</a></li>
                                <li class="breadcrumb-item"><a>Create</a></li>
                            </ul>
                        </nav>
                    </div>
                </section>
                <!-- Title End -->

                <div>
                    <div class="card mb-5">
                        <div class="card-body">
                            <p class="mb-0">Yeni işçi yaratmaq üçün məlumatlarını daxil edin</p>
                        </div>
                    </div>
                    <section class="scroll-section" id="formRow">
                        <h2 class="small-title">Register Form</h2>
                        <div class="card mb-5">
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data" class="row g-3">
                                    <div class="col-md-6">
                                        <label asp-for="Name" class="form-label">Name</label>
                                        <input asp-for="Name" class="form-control" placeholder="First Name">
                                        <span asp-validation-for="Name" style="color:red"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Surname" class="form-label">Surname</label>
                                        <input asp-for="Surname" class="form-control" id="inputPassword4" placeholder="Last Name">
                                        <span asp-validation-for="Surname" style="color:red"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Email" class="form-label">Email Address</label>
                                        <input asp-for="Email" class="form-control" id="inputEmail4" placeholder="email@gmail.com">
                                        <span asp-validation-for="Email" style="color:red"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="UserName" class="form-label">User Name</label>
                                        <input asp-for="UserName" class="form-control" id="inputAddress2" placeholder="userName">
                                        <span asp-validation-for="UserName" style="color:red"></span>
                                    </div>

                                    <div class="col-md-6">
                                        <label asp-for="Password" class="form-label">Password</label>
                                        <input asp-for="Password" class="form-control" id="inputPassword4" placeholder="Password">
                                        <span asp-validation-for="Password" style="color:red"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                                        <input asp-for="ConfirmPassword" class="form-control" id="inputPassword4" placeholder="Repeat Password">
                                        <span asp-validation-for="ConfirmPassword" style="color:red"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Role" class="form-label">Role</label>
                                        <select asp-for="Role" class="form-control">
                                            @foreach (var role in roles)
                                            {
                                                <option value="@role">@role</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Role" style="color:red"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Biography" class="form-label">Biography</label>
                                        <input asp-for="Biography" class="form-control" id="inputPassword4" placeholder="Bio Emplolyee">
                                        <span asp-validation-for="Biography" style="color:red"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="ImageFile" class="form-label">Image File</label>
                                        <input asp-for="ImageFile" class="form-control" />
                                        <span asp-validation-for="ImageFile" style="color:red"></span>
                                    </div>
                                    <div asp-validation-summary="ModelOnly"></div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary">Register Employee</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </section>
                </div>
                <!-- Content End -->
            </div>
        </div>
    </div>
</main>