<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Elegant Restaurant & Cafe Html5 Template">
    <link href="~/assets/images/favicon/favicon.png" rel="icon">

    <!-- Fonts
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Great+Vibes%7CKaushan+Script%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" type="text/css">

    <!-- Stylesheets
    ============================================= -->
    <link href="~/assets/css/external.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/navigation.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="~/assets/js/html5shiv.js"></script>
      <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>Odyssey | Elegant Restaurant & Cafe</title>
</head>

<body>
    <div class="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="wrapper clearfix">
        <header id="navbar-spy" class="header header-1 header-transparent header-bordered header-fixed">
            <nav id="primary-menu" class="navbar navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" asp-controller="Home" asp-action="index">
                            <img class="logo-light" src="~/assets/images/logo/logoLight.png" width="80" height="80" alt="Odyssey Logo">
                            <img class="logo-dark" src="~/assets/images/logo/logoDark.jpg" width="80" height="80" alt="Odyssey Logo">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                        <ul class="nav navbar-nav nav-pos-right navbar-left">
                            <!-- Home Menu -->
                            <li>
                               <a asp-controller="Home" asp-action="index">home</a>
                            </li>             
                            <!-- li end -->
                            <!-- About Menu -->
                            <li class="has-dropdown">
                                <a asp-controller="about" asp-action="index"  class="dropdown-toggle menu-item">About</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-controller="about" asp-action="index">our story</a>
                                    </li>
                                    <li>
                                        <a asp-controller ="about" asp-action="chefs">our chefs</a>
                                    </li>
                                    <li>
                                        <a asp-controller="about" asp-action="Waiter">our waiter</a>
                                    </li>
                                    <li>
                                        <a asp-controller="about" asp-action="contactus">contact us</a>
                                    </li>
                                    <li>
                                        <a asp-controller="about" asp-action="guestbook">guestbook</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Reservation" asp-action="Create" asp-area="admin">online reservation</a>
                                    </li>

                                </ul>
                            </li>
                            <!-- li end -->
                            <!-- Menu Menu -->
                                    
                            <li>
                               <a asp-controller="Menu" asp-action="Index">Menu</a>
                            </li>
                                
                            <!-- li end -->

                            <li>
                                <a asp-controller="Home" asp-action="gallery">gallery</a>
                            </li>
                            
                            
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a asp-controller="MyReservation" asp-action="index">My Reservation</a>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item" style="color: #c59d5f;" id="user-name">@User.Identity.Name</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a asp-action="Logout" asp-controller="Account">LogOut</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-action="Create" asp-controller="Reservation" asp-area="Admin" style="color: #c59d5f;"><i class="lnr lnr-users"></i>Reservation</a>
                            </li>
                            }
                            else
                            {
                                <li class="has-dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item" style="color: #c59d5f;">Login Or Register</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a asp-action="Login" asp-controller="Account">Login</a>
                                        </li>
                                        <li>
                                            <a asp-action="Register" asp-controller="Account">Register</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

        </header>
            @RenderBody()
        <!-- footer#1
        ============================================= -->
        <footer id="footer" class="footer footer-1 text-center">
            <!-- Widget Section
            ============================================= -->
            <div class="footer--widget text--center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-4">
                            <div class="footer--widget-content">
                                <h3>Our address</h3>
                                <p>76, Qacaq Nebi, Xetai<br> Baku,Azerbaijan</p>
                                <a class="link--styled" href="#">View On Map</a>
                            </div>
                        </div>
                        <!-- .col-md-3 end -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="footer--reservation">
                                <div class="divider--shape-10up"></div>
                                <h3>Make A Reservation</h3>
                                <div class="divider--shape-11"></div>
                                <div class="footer--reservation-wrapper">
                                    <ul class="list-unstyled">
                                        <li>All days <span>09.00 – 24:00</span></li>
                                    </ul>
                                    <a asp-controller="Reservation" asp-action="Create" asp-area="admin" class="btn btn--primary btn--bordered btn--block">Online Reservation</a>
                                                                      
                                    <!-- /.modal -->
                                </div>
                                <div class="divider--shape-10down"></div>
                            </div>
                        </div>
                        <!-- .col-md-3 end -->
                        <div class="col-xs-12 col-sm-3 col-md-4">
                            <div class="footer--widget-content">
                                <h3>Contact us</h3>
                                <p class="mb-0">Main Email: Odyssey@gmail.com</p>
                                <p class="mb-0">Phone: 012 911 1212</p>
                                <a class="link--styled" href="#">Send A Message</a>
                            </div>
                        </div>
                        <!-- .col-md-3 end -->

                    </div>
                </div>
                <!-- .container end -->
            </div>
            <!-- .footer-widget end -->
            <!--Social
            ============================================= -->
            <div class="footer--social">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 text-right">
                            <div class="footer--social-icons">
                                <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a href="https://x.com/"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                <a href="https://www.tripadvisor.com/"><i class="fa fa-tripadvisor"></i></a>
                            </div>
                            <!-- .social-icons end -->
                        </div>
                        <!-- .col-md-6 end -->
                        <div class="col-xs-12 col-sm-6 col-md-6 widget--newsletter">
                            
                            <div class="subscribe-alert"></div>
                        </div>
                        <!-- .col-md-6 end -->
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .container end -->
            </div>
            <!-- .footer-widget end -->
            <!-- Copyrights
            ============================================= -->
            <div class="footer--copyright text-center">
                <div class="divider--shape-dark"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>&copy; 2024 With Love, Odyssey</a>
                        </div>
                    </div>
                </div>
                <!-- .container end -->
            </div>
            <!-- .footer-copyright end -->
        </footer>
    </div>
    <!-- #wrapper end -->
    <!-- Footer Scripts
    ============================================= -->
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/functions.js"></script>
    <script>
        window.onload = function () {
            var userNameElement = document.getElementById('user-name');
            if (userNameElement.innerHTML.length > 12) {
                userNameElement.style.fontSize = 'smaller'; // Adjust font size as needed
            }
        };
    </script>
    <!-- RS5.0 Core JS Files -->
    <script src="~/assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script src="~/assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <!-- RS Configration JS Files -->
    <script src="~/assets/js/rsconfig.js"></script>
</body>

</html>
