<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="assets/images/page-title/14.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-4 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">Discover</div>
                        <div class="title--heading">
                            <h1>Our Menu</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb">
                        <li>
                            <a asp-action="index" asp-controller="Home">Home</a>
                        </li>
                        <li>
                            <a asp-action="Index">menu</a>
                        </li>
                        
                    </ol>
                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->
<!-- Menu #8
============================================= -->
<section id="menu8" class="menu menu-8 bg-white text-center">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-1 mb-50 text--center">
                    <p class="heading--subtitle">Taste the best</p>
                    <h2 class="heading--title mb-0">Fresh Ingredient, Tasty Meals</h2>
                    <div class="divider--shape-4"></div>
                    <p class="heading--desc">Everyone has taste, even if they don't realize it. Even if you're not a great chef, there's nothing to stop you understanding the difference between what tastes good and what doesn't.</p>
                </div>
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
    <div class="container">
        <div class="row">
            <!-- Dish #1 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <div class="dish--img">
                        <img src="assets/images/menu/menu-plates/1.jpg" alt="dish img">

                    </div>
                    <div class="dish--content">
                        <span class="dish--price">$24.95</span>
                        <h3 class="dish--title">Grilled chicken fillet</h3>
                        <p class="dish--desc">Fried chicken fillet, boiled potatoes and vegetables served with crusty bread for dipping.</p>
                    </div>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
            <!-- Dish #2 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <div class="dish--img">
                        <img src="assets/images/menu/menu-plates/2.jpg" alt="dish img">
                    </div>
                    <div class="dish--content">
                        <span class="dish--price">$35.95</span>
                        <h3 class="dish--title">Fried fish fillet</h3>
                        <p class="dish--desc">Fried fish fillet and vegetables served with crusty bread for dipping.</p>
                    </div>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
            <!-- Dish #3 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <div class="dish--img">
                        <img src="assets/images/menu/menu-plates/3.jpg" alt="dish img">
                    </div>
                    <div class="dish--content">
                        <span class="dish--price">$16.95</span>
                        <h3 class="dish--title">John Chandler's lasagna</h3>
                        <p class="dish--desc">Great Lasagna served with basil, sausage, ground beef and three types of cheese.</p>
                    </div>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
            <!-- Dish #4 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <div class="dish--img">
                        <img src="assets/images/menu/menu-plates/4.jpg" alt="dish img">
                    </div>
                    <div class="dish--content">
                        <span class="dish--price">$34.95</span>
                        <h3 class="dish--title">Grilled Egyptian Kebabs</h3>
                        <p class="dish--desc">Fried chicken fillet, boiled potatoes and vegetables served with crusty bread for dipping.</p>
                    </div>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
            <!-- Dish #5 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <div class="dish--img">
                        <img src="assets/images/menu/menu-plates/5.jpg" alt="dish img">
                    </div>
                    <div class="dish--content">
                        <span class="dish--price">$41.95</span>
                        <h3 class="dish--title">Fried fish fillet</h3>
                        <p class="dish--desc">Fried fish fillet with vegetables served with crusty bread for dipping.</p>
                    </div>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-12 end -->
            <!-- Dish #6 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <div class="dish--img">
                        <img src="assets/images/menu/menu-plates/6.jpg" alt="dish img">
                    </div>
                    <div class="dish--content">
                        <span class="dish--price">$18.95</span>
                        <h3 class="dish--title">Fried chicken nuggets</h3>
                        <p class="dish--desc">Chicken nuggets and vegetables with basil and three types of cheese.</p>
                    </div>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #menu8 end -->
